
@{
    Layout = "_Layout";
}

<form>
    <h3>Eliminar raza de perro</h3>
    <label>Raza</label>
    <input type="hidden" />
    <input type="text" readonly />

    <div class="botones">
        <input class="btnSumbit" type="submit" value="Eliminar" />
        <a href="~/Admin/Home">
            <input type="button" value="Cancelar" />
        </a>

    </div>
</form>



