@model RazaPerros.Models.ViewModels.IndexViewModel

@{
    Layout = "_Layout";
}

<section class="nav">
    <h3>Lista de Razas</h3>
</section>

<h3>
    <a href="~/Admin/Home/Agregar">
        Agregar nueva raza
    </a>
</h3>

<section class="list">
    <ul>
        @foreach (var item in Model.Razas)
        {
            <li>
                <a>
                    <img src="~/imgs_perros/@(item.Id)_0.jpg">
                    @item.Nombre
                </a>

                <div class="botonesIndex">
                    <a href="~/Admin/Home/Editar/@item.Id">
                        <input class="btnIndex" type="button" value="Editar" />
                    </a>
                    <a href="~/Admin/Home/Eliminar/@item.Id">
                        <input class="btnIndex" type="button" value="Eliminar" />
                    </a>
                </div>
            </li>
        }
    </ul>
</section>

