@model RazaPerros.Models.ViewModels.RazaPorPaisViewModel
@{
    Layout = "_Layout";
}

<section class="nav">
    <h3>Razas por país</h3>
    <nav>
        <a href="/Home/">Listado Alfabético de Razas</a>
    </nav>
</section>

<section class="list">
    @foreach (var pais in Model.Paises)
    {
        <h4>@pais.Nombre</h4>
        <ul>
            @foreach (var raza in pais.Razas)
            {
                <li>
                    <a href="~/Raza/@(raza.Nombre.Replace(" ","-"))">
                        <img src="~/imgs_perros/@(raza.Id)_0.jpg" />
                        @raza.Nombre
                    </a>
                </li>
            }
        </ul>

    }

</section>