
@{
    Layout = "_Layout";
}

<section class="nav">
    <h3>Razas por país</h3>
    <nav>
        <a href="/Home/">Listado Alfabético de Razas</a>
    </nav>
</section>

<section class="list">
    <h4>GRAN BRETAÑA</h4>
    <ul>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
    </ul>
    <h4>GRAN BRETAÑA</h4>
    <ul>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
        <li>
            <a href="/Home/InfoPerro/">
                <img src="/imgs_perros/80_0.jpg" />
                Golden Retriever
            </a>
        </li>
    </ul>
</section>

